/*--Google Fonts--*/ 
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/*--Global Styles--*/ 

* {
 font-family: 'Sriracha', cursive;
 box-sizing: border-box;}

html {
min-height: 100vh;}

body {
margin: 0;    
background-color: radial-gradient(#fafdff, #4c94d8);}

/*--Title--*/ 

.page-title {

text-align: center;
font-size: 5rem;
}

/*--Main Containers--*/

.game-container {

display: grid;
grid-template-columns: repeat(4, auto);
grid-gap: 25rem;   
margin: 6rem;
justify-content: center;
}

.game-info-container {
grid-column: 1 / -1;
display: flex;
justify-content: space-between;
}

/*--Titles--*/

.game-info {

font-size: 3rem;
}

