
/*--Global Styles--*/ 

* {

 font-family: 'VT323', cursive;
 box-sizing: border-box;}

html {
min-height: 100vh;}

body {
margin: 0;    
background: radial-gradient( #ffffff, #3ebfe0);
}

/*--Title--*/ 

.page-title {
font-family:'RocknRoll One', sans-serif; 
margin-top: .5rem;
color: #0F4C5C;    
text-align: center;
font-size: 5.5rem;
font-weight: 500;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: rgb(0, 0, 0)

}

/*--Information Containers--*/

.game-container {

display: grid;
grid-template-columns: repeat(6, auto);
grid-gap: 30px;   
margin: 20px;
justify-content: center;
perspective: 500px;
}

.game-info-container {
margin-top: 0;
grid-column: 1 / -1;
display: flex;
justify-content: space-between;
}


/*--Titles--*/

.game-info {

font-size: 2.5rem;
}


/* Cards Main */

.card {

position: relative;
height: 175px;
width: 120px;
}

.card.matched .card-value {
animation: wiggle 1s linear infinite 500ms;
}

@keyframes wiggle {
0%, 100% {
    transform: rotate(0);
}

25% {
    transform: rotate(-10deg);
}

75% {
    transform: rotate(10deg);
}
}

/* Overlay Tutorial */

.overlay-text {
text-align: center;
display: none;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
justify-content: center;
align-items: center;
z-index: 100;
color: #5F0F40;
font-family:'RocknRoll One', sans-serif; 
}

.welcome-text {
transform: translateY(-4rem); 
font-size: 9rem;
}


.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
      }
    to {background-color: rgba(0, 0, 0, 0.98);
        font-size: 7rem;}
}
 
.overlay-text-small {
font-size: 3.5rem;
}

#game-over-text {
font-family: 'VT323', cursive;   
font-size: 12rem;
}

/* Over lay edits */

.tut-text {
font-size: 3rem;
color: #d1ab00;
justify-content: center;
align-items: center;
transform: translateY(-2rem); 
}

.start-click-text {
transform: translateY(0rem); 
}


/* Card Back */

.card-back {
background-color: #3f612d;
border-color: black;
}

/* Card Face */ 

.card-face {

    position: absolute;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-style: solid;
    border-color: black;
    border-radius: 12px;
    border-width: 1px;
    width: 100%;
    height: 100%;
    display: flex;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}

/* Card Visible */

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
transform: rotateY(0);
}

.card-front {
transform: rotateY(180deg);
background-color: bisque;
border-style: solid;
border-color: black;
 border-width: 2px;
display: flex;
position: relative;
}


/* Fence Style */

.fence {

    position: absolute;
    width: 7.75rem;
}

/* Question Mark Style */

.question-mark {
transform: translateY(25px);
transition: transform 1000ms ease-in-out;
align-self: flex-start;   
width: 100px;
height: 120px;
}

.card-back:hover .question-mark {

width: 50%;
height: 50%;
transform: scale(.5);
}


/* Card Front */

.animal-name {
font-family: 'RocknRoll One', sans-serif;
justify-content: center;
transform: translateY(60px); 
font-weight: 500;
font-size: 2rem;
}

.animal-image {
position: absolute;
width: 96%;
height: 78%;
transform: translateY(-18px);
}


.animal-name-long  {
font-family: 'RocknRoll One', sans-serif;
justify-content: center;
transform: translateY(60px); 
font-weight: 500;
font-size: 1.70rem;
}

/* Form STYLES */

.form-group {
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 2rem;
    font-size: 4rem;
}

.form-control {
margin-top: 1rem;

}


.contact-page-button {
align-items: center;
align-content: center;

}



/* Contact Page */ 

.btn-space 
{
    
padding-top: 11rem;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}


.contact-page-button {

    height: 3.5rem;
    width: 9rem;
    border-radius: 10px;
    background-color:  #5F0F40;
    color: rgb(255, 255, 255);
    font-size: 1rem;
font-family:'RocknRoll One', sans-serif; 

}

form {
width:100%;
height:450px;
margin:auto;
position:relative;
padding-right: 15rem;
padding-left: 15rem;
font-family:'RocknRoll One', sans-serif; 

}
 input {
width:100%;
height: 35px;
font-family:'RocknRoll One', sans-serif; 
 }

 textarea {

width:100%;
height: 150px;
font-family:'RocknRoll One', sans-serif; 
 }



.form-row >.col {

padding-top: .5rem;}


.contact-title {

text-align: center;
font-family:'RocknRoll One', sans-serif; 
margin-top: 0;
color: #0F4C5C;    
text-align: center;
font-size: 3.5rem;
font-weight: 500;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: rgb(0, 0, 0)
}

.contact-heading {
font-family:'RocknRoll One', sans-serif; 
font-size: 4.5rem;
}

.text-center {
font-size: 4rem;
}





/* Largest Media Query */

@media (max-width:1500x) {
.form-group {
    padding-left: 20%;
    padding-right: 20%;
}
}

/* Large Media Query */


@media (max-width:1190px) {
.game-container {
    grid-template-columns: repeat(4, auto);
}
.game-info-container {
   flex-direction: column;
   align-items: center; 
}


.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
      }
    to {background-color: rgba(0, 0, 0, 0.98);
        font-size: 4rem;}
}

.overlay-text-small {
font-size: 2.5rem;
}

#game-over-text {
font-family: 'VT323', cursive;   
font-size: 5rem;
}


 .welcome-text {
font-size: 6rem;
}

.form-group {
    padding-left: 20%;
    padding-right: 20%;
}


}
/* Medium Query Size  */


@media (max-width:850px) {
.game-container {
    grid-template-columns: repeat(4, auto);
}
.game-info-container {
   flex-direction: column;
   align-items: center; 
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
    font-size: 1.75rem;
    text-align: center!important;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
      }
    to {background-color: rgba(0, 0, 0, 0.98);
        font-size: 3.5rem;}
}

.overlay-text-small {
font-size: 1.5rem;
}

#game-over-text {
font-family: 'VT323', cursive;   
font-size: 2rem;
}

.page-title {
font-size: 3.5rem;

}

 .welcome-text {
font-size: 5rem;
}

.form-group {
    padding-left: 17%;
    padding-right: 17%;
}


.contact-heading {
font-size: 3.5rem;
}

.text-center {
font-size: 2.5rem;
}



}







/* Media Query Smaller */


@media (max-width:600px) {
.game-container {
    grid-template-columns: repeat(2, auto);
}
.game-info-container {
   flex-direction: column;
   align-items: center; 
}


.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
      font-size: 2rem;
    text-align: center;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
      }
    to {background-color: rgba(0, 0, 0, 0.98);
        font-size: 3.5rem;}
}

.overlay-text-small {
font-size: 1.5rem;
}

#game-over-text {
font-family: 'VT323', cursive;   
font-size: 2rem;
}

.page-title {
font-size: 2.25rem;

}

.form-group {
    padding-left: 10%;
    padding-right: 10%;
}
}


/* Media Query Smallest */


@media (max-width:480px) {
.game-container {
    grid-template-columns: repeat(2, auto);
}
.game-info-container {
   flex-direction: column;
   align-items: center; 
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
    font-size: 3rem;
    text-align: center;
   
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
      }
    to {background-color: rgba(0, 0, 0, 0.98);
        font-size: 3rem;}
}

.overlay-text-small {
font-size: 1.5rem;
}


#game-over-text {
font-family: 'VT323', cursive;   
font-size: 2rem;
justify-content: center;
}


.page-title {
font-size: 2.25rem;
}

.game-info {
    font-size: 1.75rem;
}

 .welcome-text {
font-size: 3.5rem;
}

}

/* Media Query Final Smallest */


@media (max-width:350px) {
.game-container {
    grid-template-columns: repeat(2, auto);
}
.game-info-container {
   flex-direction: column;
   align-items: center; 
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
    font-size: 2rem;
    text-align: center;
   
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
      }
    to {background-color: rgba(0, 0, 0, 0.98);
        font-size: 2rem;}
}

.overlay-text-small {
font-size: 1.25rem;
}


#game-over-text {
font-family: 'VT323', cursive;   
font-size: 2rem;
justify-content: center;
}


.page-title {
font-size: 2.25rem;
}

.game-info {
    font-size: 1.75rem;
}

}























/* Navbar */

.header {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-content: center;
}

/* ul */
.header-buttons {
display: flex;
justify-content: space-evenly;
text-decoration: none;
flex-direction: row;
align-items: center;
align-content: center;
position: relative;
text-decoration: none;
list-style-type: none;
padding: 1rem;
}

/* li */

.nav-link {
text-decoration: none;
color: rgb(255, 255, 255);
font-family:'RocknRoll One', sans-serif; 
}

.active {
    color: #d1ab00;
}

.btn-style {
    height: 2rem;
    width: 5rem;
    border-radius: 10px;
    background-color:  #5F0F40;
}




/* Footer Styles */


.copyright-text {
padding-top: 2rem;
padding-bottom: 1rem;
text-align: center;
font-size: 1.25rem;
font-weight: 500;
color: black;
}

.contact-footer {
    padding-top: 0;
}


