/*--Google Fonts--*/ 
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap'); */

/*--Global Styles--*/ 

* {
 font-family: 'VT323', cursive;
 box-sizing: border-box;}

html {
min-height: 100vh;}

body {
margin: 0;    
background: radial-gradient(#fafdff, #629fc9);}

/*--Title--*/ 

.page-title {
margin-top: .5rem;
color: rgb(117, 180, 88);    
text-align: center;
font-size: 7rem;
font-weight: 500;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: rgb(0, 0, 0)

}

/*--Information Containers--*/

.game-container {

display: grid;
grid-template-columns: repeat(6, auto);
grid-gap: 30px;   
margin: 20px;
justify-content: center;
}

.game-info-container {
margin-top: 0;
grid-column: 1 / -1;
display: flex;
justify-content: space-between;
}


/*--Titles--*/

.game-info {

font-size: 2.5rem;
}


/* Cards Main */

.card {

position: relative;
height: 175px;
width: 120px;
}

/* Card Back */

.card-back {
background-color: #0d3108;
border-color: black;
}

/* Card Front */ 

.card-face {

    position: absolute;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-style: solid;
border-color: black;
    border-radius: 12px;
    border-width: 1px;
    width: 100%;
    height: 100%;
    display: flex;
    backface-visibility: hidden;
}

/* Card Visible */

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
transform: rotateY(0);

}


.card-front {
transform: rotateY(180deg);
background-color: bisque;
border-style: solid;
border-color: black;
 border-width: 2px;
display: flex;
position: relative;
}


/* Fence Style */

.fence {

    position: absolute;
    width: 7.75rem;
}

/* Question Mark Style */

.question-mark {
transform: translateY(25px);
transition: transform 100ms ease-in-out;
align-self: flex-start;   
width: 100px;
height: 120px;
}

.card-back:hover .question-mark {

width: 50%;
height: 50%;
transform: scale(.5);
}


/* Card Fronts */

.animal-name {
    
justify-content: center;
transform: translateY(50px); 
font-weight: 500;
font-size: 2.5rem;
}

.animal-image {
position: absolute;
width: 85%;
height: 65%;
transform: translateY(-8px);


}